<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    
<mapper namespace="com.spring.naonnaTest.matching.MatchingMapper">

   <resultMap type="MatchingVO" id="matchingResultMap">
      <result property="matchingID" column="MATCHINGID"/>
      <result property="homeTeam" column="HOMETEAM"/>
      <result property="awayTeam" column="awayTeam"/>
      <result property="groundName" column="groundName"/>
      <result property="matchLocation" column="match_location"/>
      <result property="playDate" column="play_date"/>
      <result property="score" column="score"/>
      <result property="people" column="people"/>
      <result property="finish" column="finish"/>
   </resultMap>
   
 	<!--  id는 Mapper.java(여기서 PeopleMapper.java)에 동일하게 사용해야된다.  -->  
   <select id ="getMatchingList" resultMap="matchingResultMap">
      select * from matching where play_date > sysdate order by play_date
   </select>
   
   <select id ="searchMatchingList" resultMap="matchingResultMap">
      select * from matching 
      where play_date > #{playDate, javaType=Date} 	AND match_Location = #{matchLocation, javaType=String}
<!--       <if test = "matchLocation != ''"> -->
<!--       	AND match_Location = #{matchLocation, javaType=String} -->
<!--       </if> -->
      order by play_date
   </select>

</mapper>